        <footer id = "bigfooter">
            <div style = "padding:15px;">
                <p>
                    This work is licensed under
                    <i class="fab fa-creative-commons" aria-hidden="true"></i>
                    <i class="fab fa-creative-commons-by" aria-hidden="true"></i>
                    <a rel="licencia" href="https://creativecommons.org/licenses/by/4.0"
                      title="Creative Commons Attribution 4.0 International">
                      CC BY 4.0
                    </a>
                    </br>
                    {{ "Powered by [Hugo](https://gohugo.io) and the [min_night](https://github.com/nathancday/min_night) theme" | markdownify }}
                </p>
            </div>
        </footer>
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());
          gtag('config', '{{ .Site.GoogleAnalytics }}');
        </script>
    </body>

</html>
