.item-cat {
    white-space: pre;
    background-color: #386890;
}

.item-tags {
    white-space: pre;
    background-color: #117a65;
}

a:hover {
    text-decoration: none;
    filter: brightness(120%);
}

.flag-icon {
    height: 1em;
    margin-left: 1em;
}

.logo-icon {
    max-height: 40px;
    max-width: 150px;
    height: auto;
    margin-right: 1em;
    float: right;
}

td:nth-child(even) {
    text-align: left;
}

td p {
    color: #595959;
}
